#bs-override .profile-view {
  color: #000;

  .icon {
    margin-right: 4px;
    //margin-bottom: 8px;
  }

  .accordion-button {
    margin-bottom: 8px;
    width: 100%;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 1rem;
    height: 40px;
    cursor: pointer;
  }

  .card {
    border-radius: 0;
  }

  .delete-btn {
    color: red;
    font-size: 1rem;
    border: 1px solid red;
    height: 40px;
  }
}
