$primary-color-1: #fff;
$primary-color-2: #000;

* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: $primary-color-2 !important;
  color: $primary-color-1 !important;
}

#header {
  height: 100px;
  margin-bottom: 100px;
  background-color: #fff !important;
  color: $primary-color-2 !important;
}

#header nav {
  //height: 100px;
  background-color: #fff !important;
}

#header .navbar {
  height: 100%;
}

#header .logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: $primary-color-2;
  // alt-font: Cormorant Garamond
  font-family: "Playfair Display", serif;
}

#header .nav-link {
  margin-left: 20px;
  color: $primary-color-2;
  font-size: 1.1rem;
}
